body, html {
    /* overflow: hidden; */
    background-color: rgb(49, 33, 33);
    color: white;
    cursor: default;
    font-family: 'Courier New', Courier, monospace;
    height: 100%; 
    margin: 0; 
    overflow: auto;
    padding: 0; 
    scroll-padding: 50px 0px 0px 50px;  
}
.container {
    bottom: 0; 
    left: 0; 
    margin-left: auto;
    margin-right: auto;
    right: 0; 
    text-align: center;
    top: 0px; 
}
/* nie wiem jak to wyrównać */
.wywiad {
    background-color: rgb(136, 14, 14);
    border: 3px outset red;
    height: auto;
    margin: 3%;
    padding: 3%;
}
#secret {
    display: none;
}
.wrapper {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    width: 75%;
}
.alert {
    background-color: #f44336;
    color: white;
    padding: 20px;
    text-align: center;
}
.closebtn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 15px;
}
.closebtn:hover {
    color: black;
}
.naglowek {
    background-color: rgb(32, 30, 30);
    font-size: 18px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
#footer {
    background-color: black;
    bottom: 0;
    clear: both;
    color: white;
    left: 0;
    margin-top: 50px;
    padding: 20px;
    position: fixed;
    position: relative;
    text-align: center;
}
/* To jest naprawde zjebane */
.content {
    margin-left: auto;
    margin-right: auto;
}
article {
    display: grid;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 75%;
}
h1, h2 {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 75%;
}
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
li {
    border-right: 1px dotted #bbb;
    float: left;
}
li:last-child{
    border-right: none;
}
li a {
    color: white;
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
#menu {
    background-color: #4CAF50;
    float: right;
}
img {
    margin-left: auto;
    margin-right: auto;
    margin: 50px;
}
.rainbow {
    /* Chrome, Safari, Opera */
    -webkit-animation: rainbow 5s infinite; 
    /* Internet Explorer */
    -ms-animation: rainbow 5s infinite;
    /* Standar Syntax */
    animation: rainbow 5s infinite; 
}
/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow {
    0%{color: orange;}	
    10%{color: purple;}	
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* we do a little trolling */
#fake-captcha {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
    line-height: 4.25vw;
    text-align: center;
    white-space: nowrap;
}
#fake-captcha:hover {
    color: rgb(255, 255, 255);
}
#fake-checkbox {
    background: #ffffff;
    border-radius: 5px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    float: left;
    height: 4vw;
    margin-bottom: 1px;
    margin-right: 1vw;
    margin-top: 1px;
    position: relative;
    transition: all 0.2s;
    width: 4vw;
}
#fake-checkbox:hover {
    background: #aaa;
    border-color: #aaa;
}
#fake-captcha.loading {
    color: rgb(255, 255, 255);
    cursor: default;
}
.loading #fake-checkbox {
    animation: spin 1s infinite linear;
    background: transparent;
    border-color: #888;
    border-radius: 50%;
    border-style: inset;
    border-width: 12px;
}
.pass #fake-checkbox {
    background: #c1d9a3;
    border-color: #669f56;
}
.pass #fake-checkbox:before {
    color: #275f18;
    content: "\2713";
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.fail {
    transition: 0.3s;
    animation: fail 0.3s 3;
} 
@keyframes fail {
    0% { color: #757575}
    100% { color: #000000}
}
/* kontakt */
input[type=text],input[type=email], select, textarea {
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-top: 6px;
    padding: 12px;
    resize: vertical;
    width: 100%;
}
input[type=submit] {
    background-color: #4CAF50;
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 12px 20px;
    transition: 0.3s;
}
input[type=submit]:hover {
    background-color: #4fa351;
}
.kontakt {
    background-color: #f2f2f2;
    border-radius: 5px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 50%;
}
#submit {
    background-color: #4CAF50;
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 20px;
    position: relative;
    width: 40%;
}
#submit:hover {
    background-color: #4CAF50;
}