@media screen and (max-width: 1362px) {
    li a, li {
        font-size: 18px;
    }
}
@media screen and (max-width: 1250px) {
    li a, li {
        font-size: 16px;
    }
    .content {
		width: 100%;
	}
}
@media screen and (max-width: 1140px) {
    li a, li {
        font-size: 14px;
    }
}
@media screen and (max-width: 1026px) {
    li a, li {
        font-size: 12px;
    }
}
@media screen and (max-width: 915px) {
    li a, li {
        font-size: 10px;
    }
}
@media screen and (max-width: 805px) {
    li a, li {
        font-size: 8px;
    }
}
@media screen and (max-width: 700px) {
    html, body {
        scroll-padding: 0px 0px 0px 0px;
    }
	.content {
		width: 100%;
	}
    ::-webkit-scrollbar {
        display: none;
    }
    li {
        float: none;
    }
    #menu {
        display: none;
    }
    li a {
        font-size: 20px !important;
        padding: 10px;
    }
    .naglowek {
        position: relative;
    }
    .wywiad {
        margin-left: auto;
        margin-right: auto;
        width: 75%
    }
    .kontakt {
        width: 75%;
    }
    li:hover {
        font-size: 25px;
    }
    .wrapper {
        display: inline;
    }
    #submit {
        font-size: 10px;
        width: 70%;
    }
    .kontakt {
        width: 90%;
    }
}